---

import Layout from "../layouts/Layout.astro";
import Header_home from "../components/header_home.astro";
import Home from "../components/icons/Home.astro";
import Prev from "../components/icons/Prev.astro";
import GoToHome from "../components/GoToHome.astro";
---
<Layout  title="Crear Carteles">
    <Header_home />

    <section class="p-4 w-full lg:w-[900px] mx-auto mt-16 ">

        <div class="flex flex-col gap-4 ">

            <article class="flex flex-col">
                <h2 class="text-xl font-semibold my-1.5 text-white">Contacto</h2>
                <p class="text-pretty text-white">
                    ¡Nos encantaría escucharte! Puedes encontrarnos en Instagram:
                    <a target="_blank" class="text-sky-500 underline" href="https://www.instagram.com/escribadesigns/">@escribadesigngs</a> y
                    <a target="_blank" class="text-sky-500 underline" href="https://www.instagram.com/pabsdalegas/">@pabsdalegas</a>,
                    o enviarnos un correo electrónico a<a class="text-sky-500 underline" href="escribadesigns@gmail.com">
                    escribadesigns@gmail.com</a> y <a class="text-sky-500 underline" href="pconejos03@gmail.com">pconejos03@gmail.com</a>
                    respectivamente.
                </p>
                <p class="text-pretty text-white py-2">
                    No importa si tienes una idea clara o solo un concepto,
                    estamos aquí para ayudarte a desarrollarla y crear una identidad visual impactante juntos.
                    ¡No dudes en contactarnos y comenzar a trabajar en tu próximo proyecto fotográfico!
                </p>
                </article>
            <img class="aspect-auto" src="/images/contacto/IMG_4495_VSCO.jpeg">

        </div>

    </section>

    <GoToHome />

</Layout>