---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/icons/Home.astro";
import GoToHome from "../components/GoToHome.astro";
---
<Layout title="Crear Carteles">


    <Header text="CREAR CARTELES" next="/sesion_2" prev="/sesion_1"/>

    <section class="p-4 w-full lg:w-[700px] mx-auto">

        <section class=" mt-16">
            <img class="" src="../../public/images/carteles/Capturadepantalla2024-02-052113.jpeg">
            <section class="grid grid-cols-3 grid-rows-2 gap-2 py-3">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/carteles/Captura%20de%20pantalla%202024-02-05%20211453.png">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/carteles/Captura%20de%20pantalla%202024-02-05%20210855.png">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/carteles/Captura%20de%20pantalla%202024-02-05%20210946.png">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/carteles/Captura%20de%20pantalla%202024-02-05%20211029.png">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/carteles/Captura%20de%20pantalla%202024-02-05%20211044.png">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/carteles/Captura%20de%20pantalla%202024-02-05%20211637.png">
            </section>
            <p class="py-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit purus, feugiat sed dolor at,
                venenatis luctus ante. Vivamus in maximus neque, ut mattis velit. Morbi condimentum, augue ac
                tempor eleifend, sem magna scelerisque nisi, a aliquet turpis sem ut ligula. Integer felis lacus,
                ullamcorper non accumsan ut, ullamcorper in orci. Integer et turpis sit amet nulla pellentesque
                interdum. Nulla et consectetur nulla. Nam magna ipsum, ultrices tempor posuere id, tempor ut velit.
                Vivamus tempus vestibulum est vel accumsan. Suspendisse elit risus, dapibus gravida facilisis nec,
                vestibulum sit amet tortor. Donec sit amet lorem efficitur, posuere ipsum sit amet, volutpat dolor.
            </p>
            <img class="" src="../../public/images/carteles/Captura%20de%20pantalla%202024-02-05%20211755.jpeg">
            <p class="py-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit purus, feugiat sed dolor at,
                venenatis luctus ante. Vivamus in maximus neque, ut mattis velit. Morbi condimentum, augue ac
                tempor eleifend, sem magna scelerisque nisi, a aliquet turpis sem ut ligula. Integer felis lacus,
                ullamcorper non accumsan ut, ullamcorper in orci. Integer et turpis sit amet nulla pellentesque
                interdum. Nulla et consectetur nulla. Nam magna ipsum, ultrices tempor posuere id, tempor ut velit.
                Vivamus tempus vestibulum est vel accumsan. Suspendisse elit risus, dapibus gravida facilisis nec,
                vestibulum sit amet tortor. Donec sit amet lorem efficitur, posuere ipsum sit amet, volutpat dolor.
            </p>
        </section>
    </section>
    <GoToHome />
</Layout>