---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Bento_main from "../components/bento_main.astro";
---

<Layout title="Galria Seion">
	<main>
		<section id='' >
			<Bento_main />
		</section>
	</main>
</Layout>


