---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Bento_main from "../components/bento_main.astro";
import Header_home from "../components/header_home.astro";
---

<Layout title="Gallery Sesion">
	<main>
		<section id='' >
			<Header_home />
			<Bento_main />
		</section>
	</main>
</Layout>


