---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Bento_main from "../components/bento_main.astro";
import Header_home from "../components/header_home.astro";
---

<Layout title="Gallery Sesion">
	<main>
		<!--<header class="z-20 fixed top-5 gap-11 flex flex-col justify-center w-full mx-auto mt-2">

			<nav class="flex text-sm flex-row p-2 gap-x-3 items-center md:text-xl xl:gap-x-10">
				<a href="">Sobre Nosotros</a>
				<a href="">Creditos</a>
				<a href="">Contacto</a>
			</nav>
<hr class=" border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
		</header>-->



		<section id='' >
			<Header_home />
			<Bento_main />
		</section>
	</main>
</Layout>


