---

import Bento_main from "../components/bento_main.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/icons/Home.astro";
---
<Layout title="Inpiración">


    <Header text="INSPIRACIÓN" next="sesion_1" prev=""/>

    <section class="p-4 w-full lg:w-[700px] mx-auto ">

        <section class="mt-16 flex flex-col justify-center items-center ">
            <img class="" src="../../public/images/inspiracion/opium-antagonist.JPG">
            <p class="py-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit purus, feugiat sed dolor at,
                venenatis luctus ante. Vivamus in maximus neque, ut mattis velit. Morbi condimentum, augue ac
                tempor eleifend, sem magna scelerisque nisi, a aliquet turpis sem ut ligula. Integer felis lacus,
                ullamcorper non accumsan ut, ullamcorper in orci. Integer et turpis sit amet nulla pellentesque
                interdum. Nulla et consectetur nulla. Nam magna ipsum, ultrices tempor posuere id, tempor ut velit.
                Vivamus tempus vestibulum est vel accumsan. Suspendisse elit risus, dapibus gravida facilisis nec,
                vestibulum sit amet tortor. Donec sit amet lorem efficitur, posuere ipsum sit amet, volutpat dolor.
            </p>

            <section class="grid grid-cols-4 grid-rows-2 gap-2 py-3">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-antagonist.JPG">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-wlr.jpg">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-carti.JPG">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-carti2.JPG">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-3.JPG">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-fonts.jpg">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-face.jpg">
                <img class="w-full h-full object-cover aspect-square" src="../../public/images/inspiracion/opium-4.jpg">
            </section>

            <p class="py-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit purus, feugiat sed dolor at,
                venenatis luctus ante. Vivamus in maximus neque, ut mattis velit. Morbi condimentum, augue ac
                tempor eleifend, sem magna scelerisque nisi, a aliquet turpis sem ut ligula. Integer felis lacus,
                ullamcorper non accumsan ut, ullamcorper in orci. Integer et turpis sit amet nulla pellentesque
                interdum. Nulla et consectetur nulla. Nam magna ipsum, ultrices tempor posuere id, tempor ut velit.
                Vivamus tempus vestibulum est vel accumsan. Suspendisse elit risus, dapibus gravida facilisis nec,
                vestibulum sit amet tortor. Donec sit amet lorem efficitur, posuere ipsum sit amet, volutpat dolor.
            </p>

            <img class="" src="../../public/images/inspiracion/inspo-opium.jpeg">
            <section class="grid grid-cols-2 grid-rows-1 gap-2 py-3">

                <img class="" src="../../public/images/inspiracion/carti_fondo.jpeg">
                <img class="" src="../../public/images/inspiracion/shoot-moda.jpeg">


            </section>

            <p class="py-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit purus, feugiat sed dolor at,
                venenatis luctus ante. Vivamus in maximus neque, ut mattis velit. Morbi condimentum, augue ac
                tempor eleifend, sem magna scelerisque nisi, a aliquet turpis sem ut ligula. Integer felis lacus,
                ullamcorper non accumsan ut, ullamcorper in orci. Integer et turpis sit amet nulla pellentesque
                interdum. Nulla et consectetur nulla. Nam magna ipsum, ultrices tempor posuere id, tempor ut velit.
                Vivamus tempus vestibulum est vel accumsan. Suspendisse elit risus, dapibus gravida facilisis nec,
                vestibulum sit amet tortor. Donec sit amet lorem efficitur, posuere ipsum sit amet, volutpat dolor.
            </p>

        </section>
    </section>

    <a href="../">
        <Home />
    </a>


</Layout>