---

import Bento_main from "../components/bento_main.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/icons/Home.astro";
import GoToHome from "../components/GoToHome.astro";
---
<Layout title="Inpiración">


    <Header text="INSPIRACIÓN" next="sesion_1" prev=""/>

    <section class="p-4 w-full lg:w-[700px] mx-auto ">

        <section class="mt-16 flex flex-col justify-center items-center ">
            <img class="" src="/images/inspiracion/opium-antagonist.jpg">
            <p class="pt-6 text-white">
                Cuando Hernán comenzó a destacar con sus portadas y diseños, Pablo vio la posibilidad de una
                unir nuestras facetas, fusionando la fotografía de Pablo con el talento de Hernán en el diseño.
                Siempre nos gusto el colectivo Opium, y desde el lanzamiento del último álbum de Ken Karson ("A Great Chaos"),
                la idea de unas fotos inspiradas en ese universo cobró vida.
            </p>
            <p class="pt-3 pb-6 text-white">
                Nos reunimos inicialmente para pensar en: ubicaciones, poses, vestuario;
                todo lo necesario para crear una sesión a la altura. El primer paso fue decidir la estructura de los
                carteles para a la hora de hacer las fotos tener claro que material necesitabamos.
            </p>



            <section class="grid grid-cols-4 grid-rows-2 gap-2 py-3">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-antagonist.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-wlr.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-carti.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-carti2.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-3.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-fonts.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-face.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/inspiracion/opium-4.jpg">
            </section>

            <p class="py-6 text-white">
                Buscamos ideas para las poses, tipografías y, sobre todo, para la estructura del cartel.
                Hernán ya tenía algunas ideas en mente, pero Pablo estaba empeñado en querer algo similar
                a las cadenas de la portada de "A Great Chaos". Esa idea no era muy clara,
                ¿cómo podríamos inspirarnos únicamente en unas cadenas pixeladas para hacer un cartel?
                Después de aclararnos, finalmente encontramos un punto en común: algo oscuro, con siluetas y
                sombras, y un título que se destacara bien.
            </p>

            <img class="" src="/images/inspiracion/inspo-opium.jpg">
            <section class="grid grid-cols-2 grid-rows-1 gap-2 py-3">

                <img class="" src="/images/inspiracion/carti_fondo.jpg">
                <img class="" src="/images/inspiracion/shoot-moda.jpg">


            </section>

            <p class="py-6 text-white">
                Ahora tocaba pensar en las fotos y el gran problema que teníamos era encontrar buenas poses, ya que el
                modelo que teníamos era nuestro tt Roberto, que le mete duro pero necesitaba un poco de
                ayuda. Pablo pensó en el vestuario y compramos un par de cosas en Vinted que le encantaron a Roberto.
                Con todo pensado, solo faltaba quedar con los demás, montar el estudio en el comedor de Pablo y empezar la sesión.
            </p>

        </section>
    </section>


   <GoToHome />


</Layout>



<style>

    section img{
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }


    @keyframes reveal {

        from{
            opacity: 0;
            translate: 0 100px;
        }
        to{
            opacity: 1;
            translate: 0 0;
        }

    }
</style>