---

import GoToHome from "../components/GoToHome.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resultados">


    <Header text="RESULTADOS" next="" prev="/sesion_2"/>

    <section class="p-4 w-full lg:w-[700px] mx-auto ">

    </section>

    <GoToHome />
    
</Layout>