---

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/icons/Home.astro";
import GoToHome from "../components/GoToHome.astro";---
<Layout title="Seseión 1">


    <Header text="SESIÓN 1" next="crear_carteles" prev="inspiracion"/>

    <section class="p-4 w-full lg:w-[1200px] mx-auto ">

        <section class="mt-16">
            <img class="" src="/images/contacto/IMG_4495_VSCO.jpg">
            <p class="pt-6 text-white text-center font-bold text-4xl">
                Empezamos con las fotos, <span class="text-yellow-400">Sesion 1</span>
            </p>
            <p class="pt-14 pb-3 text-white font-bold text-xl">
                Fuimos a recoger a <span class="text-zinc-400"><a href="https://www.instagram.com/jav111er/?img_index=1">Javier</a></span> y a
                Roberto al metro y luego nos dirigimos a casa de Pablo, donde esperábamos a
                <span class="text-zinc-400"><a href="https://www.instagram.com/jaumats/?img_index=1">Jaime</a></span>.
            </p>
            <section class="grid grid-cols-2 grid-rows-1 gap-4">
                <img class="hover:scale-105 transition-transform cursor-pointer" alt="" src="/images/resultado_final/robertosession1-1.jpg">
                <img class="hover:scale-105 transition-transform cursor-pointer" alt="" src="/images/resultado_final/robertosession1-2.jpg">
            </section>
            <p class="py-3 text-white font-bold text-xl">
                Sin embargo, al ver que Jaime no llegaba, decidimos irnos a cenar al McDonald's.
                Al regresamos a casa comenzamos la sesión de fotos. Preparamos un fondo blanco que Hernán utilizaría más
                tarde para la composición de los carteles. Probamos diferentes fits, tanto de Pablo como de Roberto.
                Justamente Roberto llegó ese día con una chaqueta negra de pelo durisima perfecta para lo que buscabamos.
                Mas tarde cuando llego Jaime empezo a grabar videos con una camara digital y ya se nos acababan las ideas alli.
            </p>
            <video class="py-4 w-full" src="/images/sesion_1/MOV00F.mp4" autoplay loop muted></video>
            <p class="py-3 text-white font-bold text-xl">
                En principio, habíamos planeado hacer las fotos solo con el fondo blanco. Sin embargo, Pablo siempre
                había sentido curiosidad por la estación de Paterna durante la noche; tenía algo que la hacía perfecta
                para una sesión fotográfica así. Decidimos subirnos a los coches y dirigirnos allí. Al llegar, tuvimos
                que esperar un poco debido a que había bastante gente en los andenes.
            </p>
            <video class="py-4 w-full" src="/images/sesion_1/MOV043.mp4" autoplay loop muted></video>
            <section class="grid grid-cols-4 grid-rows-2 gap-2 py-3">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/IMG_4416.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/Copia%20de%20IMG_4255.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/Copia%20de%20IMG_4263.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/Copia%20de%20IMG_4280.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/Copia%20de%20IMG_4275.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/Copia%20de%20IMG_4285.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/IMG_4303.jpg">
                <img class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform cursor-pointer" src="/images/sesion_1/IMG_4336.jpg">
            </section>
            <p class="txt-img text-white text-center font-bold text-xl pb-2">
                Fotos que utlizarimos en los carteles<span class="text-zinc-500">*</span>
            </p>

            <section class="grid grid-cols-2 grid-rows-1 gap-4 py-2">
                <article class="">
                    <img class="hover:scale-105 transition-transform cursor-pointer" alt="" src="/images/sesion_1/A8CD6DC5-F705-4731-A6A5-28CDA5F0FAD5.jpg">
                    <p class="txt-img text-white font-bold text-sm text-center py-5">
                        Después de que la última persona abandonara los andenes, finalmente tuvimos la oportunidad de
                        desplegar nuestra creatividad. Las luces de neón destellaban, pintando las paredes de la estación
                        con tonos vibrantes. <span class="text-yellow-400">Era el momento perfecto para capturar la esencia que buscábamos.</span></p>
                </article>
                <article class="">
                    <img class="hover:scale-105 transition-transform cursor-pointer" alt="" src="/images/sesion_1/DC637DEB-F40E-489D-947B-3D6CBE8F0479.jpg">
                    <p class="txt-img text-white font-bold text-sm text-center py-5">
                        Cada disparo era una obra de arte en sí misma, capturando la magia de la noche y la energía de la
                        ciudad. El spot resultó ser el escenario ideal para nuestra estética, y cada fotografía era un
                        testimonio de ello. Con el fondo de la estación de <span class="text-yellow-400">Paterna</span> como lienzo.</p>
                </article>
            </section>
            <video class="pt-4 w-full" src="/images/sesion_1/MOV022.mp4" autoplay loop muted></video>
            <p class="txt-img text-white text-center font-bold text-xl pb-2">
                Video mientras haciemos las fotos de los carteles<span class="text-zinc-500">*</span>
            </p>
        </section>
    </section>
    <GoToHome />
</Layout>


<style>

    section img, video{
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }

    .txt-img {
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }


    @keyframes reveal {

        from{
            opacity: 0.5;
            translate: 0 100px;
        }
        to{
            opacity: 1;
            translate: 0 0;
        }

    }
</style>