---

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/icons/Home.astro";
import GoToHome from "../components/GoToHome.astro";---
<Layout title="Seseión 1">


    <Header text="SESISON 1" next="crear_carteles" prev="inspiracion"/>


    <section class="p-4 w-full lg:w-[700px] mx-auto">

        <section class="mt-16">
            <img class="" src="/images/contacto/IMG_4495_VSCO.JPG">
            <p class="py-6">
                Fuimos a recoger a Javier y a Roberto al metro y luego nos dirigimos a casa de Pablo,
                donde esperábamos a Jaime. Sin embargo, al ver que Jaime no llegaba, decidimos irnos a cenar al McDonald's.
                Al regresamos a casa comenzamos la sesión de fotos. Preparamos un fondo blanco que Hernán utilizaría más
                tarde para la composición de los carteles. Probamos diferentes fits, tanto de Pablo como de Roberto.
                Justamente Roberto llegó ese día con una chaqueta negra de pelo durisima perfecta para lo que buscabamos.
                Mas tarde cuando llego Jaime empezo a grabar videos con una camara digital y ya se nos acababan las ideas alli.
            </p>
            <img class="" src="/images/sesion_1/A8CD6DC5-F705-4731-A6A5-28CDA5F0FAD5.JPG">
            <p class="py-6">
                En principio, habíamos planeado hacer las fotos solo con el fondo blanco. Sin embargo, Pablo siempre
                había sentido curiosidad por la estación de Paterna durante la noche; tenía algo que la hacía perfecta
                para una sesión fotográfica así. Decidimos subirnos a los coches y dirigirnos allí. Al llegar, tuvimos
                que esperar un poco debido a que había bastante gente en los andenes.

                Mientras esperábamos, surgió una pregunta en la mente de Hernán: ¿por qué Jhay Cortez y Mhia Kalifa lo dejaron?
                Una pregunta curiosa que nos dejó a todos reflexionando por un momento. Pero una vez que nos pusimos a
                hacer las fotos en la estación, nos dimos cuenta de lo dura que era esa estacion.
                Salieron unas fotos impresionantes que acabaron cobrando gran importancia en el cartel final.

            </p>
            <section class="grid grid-cols-4 grid-rows-2 gap-2 py-3">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/IMG_4416.JPG">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/Copia%20de%20IMG_4255.JPG">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/Copia%20de%20IMG_4263.JPG">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/Copia%20de%20IMG_4280.JPG">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/Copia%20de%20IMG_4275.JPG">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/Copia%20de%20IMG_4285.JPG">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/IMG_4303.JPG">
                <img class="w-full h-full object-cover aspect-square" src="/images/sesion_1/IMG_4336.JPG">
            </section>
            <img class="" src="../../public/images/sesion_1/DC637DEB-F40E-489D-947B-3D6CBE8F0479.JPG">
        </section>
    </section>
    <GoToHome />
</Layout>


<style>

    section img{
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
    }


    @keyframes reveal {

        from{
            opacity: 0.5;
            translate: 0 50px;
        }
        to{
            opacity: 1;
            translate: 0 0;
        }

    }
</style>