---

import GoToHome from "../components/GoToHome.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sesion 2">


    <Header text="SESION 2" next="resultados" prev="crear_carteles"/>

    <section class="p-4 w-full lg:w-[700px] mx-auto ">


    </section>


    <GoToHome />


</Layout>
