---

import Home from "./icons/Home.astro";---

<div data-dial-init class="fixed bottom-6 start-6 group">
    <a href="../">
        <button type="button" data-dial-toggle="speed-dial-menu-bottom-left"
                aria-controls="speed-dial-menu-bottom-left"
                aria-expanded="false"
                class="flex items-center justify-center text-white bg-blue-700
                 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600
                 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300
                 focus:outline-none dark:focus:ring-blue-800">
            <Home />
            <span class="sr-only">Open actions menu</span>
        </button>
    </a>

</div>