---
const navItems = [
    {
        title: "Sobre Nosotros",
        label: "sobre-nosotros",
        url: "/sobre-nosotos",
    },
    {
        title: "Creditos",
        label: "creditos",
        url: "/#creditos",
    },
    {
        title: "Contacto",
        label: "contacto",
        url: "/#contacto",
    },
]
---
<header class="z-20 fixed top-2 gap-11 flex flex-col justify-center w-full mx-auto mt-2">
    <div class="w-full max-w-screen-xl mx-auto ">
        <nav class="flex text-sm flex-row p-2 gap-x-3 justify-center items-center md:text-xl xl:gap-x-10">
            {
                navItems.map((item)=>(
                    <a class="hover:scale-105 transition-transform" href={item.url}>{item.title}</a>
                ))
            }


        </nav>
        <hr class=" border-gray-200 sm:mx-auto dark:border-gray-700 " />
    </div>
</header>

