---
import "@fontsource-variable/onest";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/pabsdalegasLogo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- HTML Meta Tags -->
		<meta name="description" content="Hernan Escriba y Pablo Conejos dos creativos de valencia son los autores de
		 este proyecto, que fusiona la fotografia, el diseño grafico y la programación">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://opium-session.web.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Opium Session">
		<meta property="og:description" content="Hernan Escriba y Pablo Conejos dos creativos de valencia son los autores de
		 este proyecto, que fusiona la fotografia, el diseño grafico y la programación">
		<meta property="og:image" content="/images/bento_main/roberopiumcasi.jpg">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="https://opium-session.web.app/">
		<meta property="twitter:url" content="https://opium-session.web.app/">
		<meta name="twitter:title" content="Opium Session">
		<meta name="twitter:description" content="Hernan Escriba y Pablo Conejos dos creativos de valencia son los autores de
		 este proyecto, que fusiona la fotografia, el diseño grafico y la programación">
		<meta name="twitter:image" content="/images/bento_main/roberopiumcasi.jpg">
	</head>
	<body class="relative min-h-screen">
		<div class="absolute top-0 z-[-2] h-full w-full
		bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>

	html {
		scroll-behavior: smooth;
		font-family: 'Onest Variable',system-ui, sans-serif;
		min-height: 100vh;
	}

	body {
		background: #050505;
		display: flex;
		flex-direction: column;

	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
